# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor settings
.vscode/
.idea/

# Vercel
.vercel/

# In case anyone installs a tool locally
node_modules/

# for design html references nothing to do with tasks
design_references/framework_references/
